@model IEnumerable<OficinaWebMVC.Database.Entities.Orcamento>

@{
    ViewData["Title"] = "Orcamento";
}

<h1>Orçamento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicialOrcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAprovacaoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinalOrcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusOrcamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicialOrcamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAprovacaoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinalOrcamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfResponsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOrcamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
